  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  
}
.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.display-flex{
  display: flex;
}
/* navbar start */
.navbar{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1A0B2E;
  justify-content: space-between;
  align-items: center;
  padding: 14px 200px;
  color: white;

}
/* logo */
.gradient-text{
  background: linear-gradient(360deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menubar {
  list-style: none;
  gap: 30px;
}
a{
  text-decoration: none;
  color: white;
}
.btn{
  padding: 10px 20px;
  border-radius: 10000px;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  border: none;
}

