  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  
}
.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.display-flex{
  display: flex;
}
.p-text{
  color: #ffffff;
}
/* navbar start */
.navbar{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1A0B2E;
  justify-content: space-between;
  align-items: center;
  padding: 14px 200px;
  color: white;

}

  .for-mobile{
    display: none;
  }
/* logo */
.gradient-text{
  background: linear-gradient(360deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menubar {
  list-style: none;
  gap: 30px;
}
a{
  text-decoration: none;
  color: white;
}
.btn{
  padding: 10px 20px;
  border-radius: 10000px;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  border: none;
}
.second-btn{
  padding: 10px 20px;
  border-radius: 10000px;
  color: #00FF88;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #00FF88;
}
/* hero-section start*/

.hero{
  background-image:url(/assets/microphone.png) ,url(/assets/hero-circle.png),url(/assets/hero-bg.png);
  background-size:170px,360px, contain;
  background-position: center,center,center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  background-color: #1A0B2E;
}

.new{
  border-radius: 10000px;
  padding: 12px 24px;
  background-color: #00FF88;
  color: black;
  border: none;
  position: absolute;
  top:28%;
  left: 57%;
  font-weight: 600;
  box-shadow: 1px 1px 22px #00FF88;
}
.contain{
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  line-height: 2.5rem;
  position: absolute; 
  bottom:-50px;
  left: 50%;
  transform: translate(-50%); 
  padding-bottom: 50px;

}
h1{
  font-weight: 800;
  font-size: 3.75rem;
  color: white;
}

/* About-section-start */
.About-Podcast{
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: #1A0B2E;
  padding: 50px 200px 120px;
}
.About-title{
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}
.About-text{
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
  
}
hr{
  margin-top: 100px;
  margin-bottom: 100px;
}
.About-card {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.About-card{
  justify-content:space-around;
  align-items: center;
}
.card-item{
  color: #00FF88;
  text-align: center;
}
.card-text{
  color: #ffffff;
}

.card-number{
  font-size: 2rem;
  font-weight: 700;
}
/* Media Queries */
@media screen and (max-width:576px){
  .navbar{
  padding:20px ;
  }
  .pc-menubar,.pc-button{
  display: none;
  }
  .for-mobile{
  display: block;
  }
  .hero {
    background-size:100px,250px, cover;
  
  }
  .new{
  top:33%;
  left: 60%;
}
.contain {
  line-height: normal;
}
.About-Podcast{
  padding: 0;

}
.About-card{
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
} 
 

  
}





